# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.
set mysql_connection_string "server=localhost;database=essentialmode;userid=root;password=;keepAlive=60"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_debug 0
set mysql_debug_output "console"

exec private.cfg

### PRE-SCRIPTS
start queue
start loadingscreen
start discord_perms
start DiscordWhitelist
start tokovoip_script

### ESSENTIALS
start mapmanager
start spawnmanager
start sessionmanager
start chat
start chat-theme-civlifechat
start fivem
start rconlog
start baseevents
start essentialmode
start es_extended
start mysql-async
start async
start esplugin_mysql
start cron
start legitimation
start es_admin2

### DEPENDENCIES
start esx_skin
start esx_datastore
start esx_license
start esx_status #okonfiguerad
start esx_license
start mythic_notify
start mythic_progbar

### ESX REQUIRED
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_addonaccount
start esx_society
start skinchanger

### ESX
#start esx_accessories
start esx_advancedgarage
start dpemotes #esx_animations
start esx_barbershop
start esx_basicneeds
start esx_billing #okonfiguerad
start esx_carwash
start esx_doorlock #Beh�ver config
start esx_dmvschool
start esx_prw_ClotheShop #Alternativ till esx_eden_clotheshop, översättning etc behövs
start esx_kashacters
start esx_mirrox_realtimejailer
start esx_optionalneeds #okonfiguerad
start esx_tattooshop #okonfiguerad
start f5-meny
start mythic_hospital
start hungerthirst
start speedometer
start esx_sellvehicles
start portals
#start mirrox-motell
#start chrono-jewelry
start esx_lscustom
start esx_addons_chrono
start chrono-phone
start esx_weed
start esx_cocaine
start chrono-drugdelivery
start esx_fishing
start esx_prwClotheShop
start mirrox-radio
start mirrox-items
start chrono-jewelry

### ESX JOBS
start esx_duty
start esx_joblisting2
start esx_ambulancejob
start esx_policejob
start esx_vehicleshop #konfigration krävs
start esx_mechanicjob
start esx_bennysjob
start esx_taxijob
start esx_fujiwara_tofushop

### JSFOUR
start jsfour-register

### DISC
start disc-base
start disc-ammo
start disc-inventoryhud
start disc-property
start disc-dragme
start disc-stopmelee
start disc-mdt

### BASE SCRIPTS
start world-base
start player-base
start belt
start CalmAI

### SCRIPTS
start LegacyFuel #Tagen från 1.0
start new_banking #Tagen från 1.0
start taser_effekt
start 3dme
start vSync
start realtime
start lspdloader
start wk_wrs
start r_radargun

### TOOLS
start devkit
start logs

### STREAM
start vapen
start klader
start hidehealth
start esx_healthbar
### MAPPAR
start bob74_ipl
start domstol-map
start allcity_medical #Sjukhus Props
start phxlsmc #Sjukhus
#start motels
#start beachmotels
start cokelab
start mansion
start druglabs
start groovehus
start lostlscustom
start drugzones
start phxlspd
start townsquare
start svenskaflaggor
start mekonomen
start prison-map-addon

start proxies

### FORDON
#start RealisticTraffic
start RealisticBrakeLights
start RealisticAirControl
start els-plus
start fordon


# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
#rcon_password changeme

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default, roleplay, swe, sweden, swedish"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://i.imgur.com/4ENxAZ1.png"
sets banner_connecting "https://i.imgur.com/4ENxAZ1.png"

# Set your server's hostname
sv_hostname "Roleplay.nu"

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# Uncomment this line if you do not want your server to be listed in the server browser.
#sv_master1 "1"

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow
add_principal identifier.steam:110000105dbc118 group.admin # add the admin to the group
add_principal identifier.steam:110000105dbc118 inventory.openinventory

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Steam Web API
# From chrono's steam account registered domain nerp.online
set steam_webApiKey "26C35F114A40F8FC5F8B8055EAC7D4FA"

# OneSync 0 or 1
onesync_enabled 1

# Server slots
sv_maxclients 64

# OVH Mitigation workaround
sv_useDirectListing true
