$primary: rgba(0, 0, 0, 0.8);
$accent: white;
$border: #771282;

$scroll-thumb: rgba(255, 255, 255, 0.38);
$scroll-background: transparent;

$ui-background: rgba(0, 0, 0, 0.8);
$inv-background: rgba(0, 0, 0, 0.2);

$disabled-control: rgba(150, 54, 54, 0.81) !important;

$slot: rgba(0, 0, 0, 0.8);
$slot-player: rgba(0, 0, 0, 0.8) !important;
$slot-temporary: rgba(0, 0, 0, 0.8) !important;
$slot-storage: rgba(0, 0, 0, 0.8)!important;
$slot-evidence: rgba(0, 0, 0, 0.8) !important;
$slot-shop: rgba(0, 0, 0, 0.8) !important;

$slot-dragging: rgba(0, 0, 0, 0.8);
$slot-error: rgba(255, 0, 0, 0.8);
$slot-used: rgba(0, 0, 0, 0.75);

$hotkey-text: white;
$hotkey-background: rgba(0, 0, 0, 0.8);
$item-name-background: rgba(0, 0, 0, 0.8);
$item-name-text: white;