$primary: rgba(35, 39, 42, 1);
$accent: white;
$border: #40E0D0;

$scroll-thumb: rgba(44, 47, 51, 1);
$scroll-background: transparent;

$ui-background: rgba(0, 0, 0, 0.65);
$inv-background: rgba(0, 0, 0, 0.29);

$disabled-control: #d11141 !important;

$slot: rgba(44, 47, 51, 0.38);
$slot-player: rgba(44, 47, 51, 0.38) !important;
$slot-temporary: rgba(44, 47, 51, 0.38) !important;
$slot-storage: rgba(35, 39, 42, 1) !important;
$slot-evidence: rgba(44, 47, 51, 0.38) !important;
$slot-shop: rgba(35, 39, 42, 1) !important;

$slot-dragging: rgba(44, 47, 51, 0.38);
$slot-error: #d11141;
$slot-used: rgba(35, 39, 42, 1) !important;

$hotkey-text: #ffffff;
$hotkey-background: rgba(44, 47, 51, 0.38);
$item-name-background: rgba(35, 39, 42, 1);
$item-name-text: #ffffff;