.menu {
  font-family: 'Alata', sans-serif;
  min-width  : 400px;
  color      : rgb(255, 255, 255);
  font-size		  : 17px;
  position   : absolute;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0); 
}

.menu.align-top-right {
  right: 40;
  top : 50%;
  transform: translate(0, -50%); 
}
/*
.menu.align-top-right {
  right: 10;
  top  : 40;
}
*/
.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size		    : 25px;
  background      : #007777;
  -webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
  text-align      : center;
  height          : 52px;
  line-height     : 52px;
}

.menu .menu-items {
  max-height : 600px;
  overflow-y : auto;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background:   rgba(44, 47, 51, 0.99);
  height          : 42px;
  line-height     : 42px;
  color           : #ffff;
  text-align      : center;
}

.menu .menu-items .menu-item.selected {
  background-color: #23272a;
  color           : #007777
}
