.menu {
	font-family: 'Alata', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 50px 0px #000;
	overflow-y: auto;
	max-height: 90%;
}

.menu button {
	font-family: 'Alata', sans-serif;
	background-color: #007777;
	color: white;
	border: none;
}

.menu>table {
	border: 1px transparent;
	border-spacing: 0;
	min-width: 400px;
	background:   rgba(44, 47, 51, 0.99);
}

.menu>table>thead {
	background-color: #007777;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.menu td {
	text-align: center;
	padding: 8px;
}

.menu tbody tr:nth-child(even) {
	background:   rgba(44, 47, 51, 0.99);
	color: #007777;
}

.menu tbody tr:nth-child(odd) {
	background:   rgba(35, 39, 42, 0.99);
	color: #007777;
}